@page
@model BuildR_V_1.Pages.TransactionSuccessModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="title-container">
    <h2 class="title-page">Payment Status</h2>
</div>

<div class="payment">
    <h2>Payment Success!</h2>
</div>
